<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- meadco.scriptx -->
    <sectionGroup name="meadco">
      <section name="scriptx" type="MeadCo.ScriptX.ScriptXConfigurationHandler,MeadCo.ScriptXConfigurationHandler" />
    </sectionGroup>
  </configSections>

  <meadco>
    <scriptx>
      <printservice subscriptionguid="{13598d2f-8724-467b-ae64-6e53e9e9f644}" version="1" usealways="true" server="https://scriptx.print-roadmap.meadroid.com" />

      <clientinstallers installhelper="~/MeadCo.ScriptX/installHelper">
        <installer filename="~/content/meadco.scriptx/installers/smsx.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptX.msi" version="8.0.0.0" />
        <installer filename="~/content/meadco.scriptx/installers/smsxUser.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptXUser.msi" version="8.0.0.0" scope="user" />
        <installer filename="~/content/meadco.scriptx/installers/smsx64.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptXx64.msi" version="8.0.0.0" scope="machine" processor="x64" />
        <installer filename="~/content/meadco.scriptx/installers/smsx64User.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptXx64User.msi" version="8.0.0.0" scope="user" processor="x64" />
        <installer filename="~/content/meadco.scriptx/installers/smsx7.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptX7.msi" version="7.7.20.0" scope="machine" />        
      </clientinstallers>
      
      <!--<clientinstaller filename="~/content/meadco.scriptx/installers/smsx.cab" manualfilename="~/content/meadco.scriptx/installers/ScriptX.msi" version="8.0.0.0" scope="machine" installhelper="~/MeadCo.ScriptX/installHelper" />-->
      
      <license guid="{55326F1D-876A-447F-BA96-1A68B8EFC288}" revision="10" />

    </scriptx>
  </meadco>
  
</configuration>